{% extends "auctions/layout.html" %}
{% block body %}
    <h2 class="text-center mb-4">Create Listing</h2>
    {% if message %}
        <div class="card">
            <div class="card bg-warning font-weight-bold">
                <div class="card-body row">
                    <div class="col-12 align-self-center text-center">
                        <div>{{ message }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <form action="{% url 'create_listing' %} " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label for="create_listing_title" class="col-sm-2 col-form-label">Listing Title</label>
            <div class"col-10">
                <input autofocus
                       class="form-control"
                       type="text"
                       name="create_listing_title"
                       placeholder="Enter title"
                       required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="create_listing_description" class="col-sm-2 col-form-label">Listing Description</label>
            <div class"col-10">
                <input class="form-control"
                       type="text"
                       name="create_listing_description"
                       placeholder="Listing description"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="create_listing_start_bid" class="col-sm-2 col-form-label">Starting Price</label>
            <div class"col-10">
                <input class="form-control"
                       type="number"
                       step="0.01"
                       name="create_listing_start_price"
                       value="0"
                       placeholder="Starting Bid"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="create_listing_categories" class="col-sm-2 col-form-label">Categories</label>
            <div class"col-10">
                {% comment %} <input class="form-control"
                       type="text"
                       name="create_listing_primary_category"
                       placeholder="Category"/> {% endcomment %}

                <select class="custom-select" name="create_listing_categories" multiple>
                    <option disabled>Select categories</option>
                    <option value="Test Category 1">One</option>
                    <option value="Test Category 2">Two</option>
                    <option value="Test Category 3">Three</option>
                    <option value="Test Category 4">4</option>
                    <option value="Test Category 5">5</option>
                    <option value="Test Category 6">6</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="create_listing_image" class="col-sm-2 col-form-label">Upload Image</label>
            <div class"col-10">
                <input class="form-control-file"
                       type="file"
                       name="create_listing_image"
                       id="create_listing_image"
                       placeholder="Select Image to Upload"/>
            </div>
        </div>
        <input type="hidden"
               name="create_listing_username"
               value="{{ user.username }}"/>
        <input type="hidden"
               name="create_listing_date_created"
               value="{{ date_created }}"/>
        <input class="btn btn-primary" type="submit" value="Create Listing" />
    </form>
{% endblock %}
