{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                Auctions
            {% endblock title%}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> {% endcomment %}
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    </head>
    <body>
        {% if message %}
            <div class="card">
                <div class="card bg-warning font-weight-bold">
                    <div class="card-body row">
                        <div class="col-12 align-self-center text-center">
                            <div>{{ message }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as 
                <strong>
                    {% if user.is_superuser %}
                        Superuser - 
                    {% endif %}
                    {{ user.username }}
                </strong>
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        
        {% include "auctions/navbar_top_primary.html" %}
        {% block body %}
        {% endblock body %}
    </body>
</html>
