{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
{% include "auctions/navbar_top_view_listing.html" %}

    {% if not listing.active %}
        <div class="card">
            <div class="card-body bg-info row py-1">
                <div class="col-12 align-self-center text-center">
                    <h3>Auction Ended</h3>
                </div>
            </div>

            {% if user.is_authenticated and listing.winning_user == user.id %}
                <div class="card-body bg-success row py-1">
                    <div class="col-12 align-self-center text-center">
                        <h3>You are the winning bidder</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    
    <h2 class="text-center mb-4" id="listing.title">Listing: {{ listing.title }}</h2>

    {% if message %}
        <div class="card">
            <div class="card bg-warning font-weight-bold">
                <div class="card-body row">
                    <div class="col-12 align-self-center text-center">
                        <div>{{ message }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if error %}
        <div class="card">
            <div class="card bg-warning font-weight-bold">
                <div class="card-body row">
                    <div class="col-12 align-self-center text-center">
                        <div>{{ error }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-body row">
            <div class="col-md-12 text-center">
                {% if listing.image %}
                    <img class="card-img img-fluid w-auto" id="listing.image" src="{% static '/auctions/media/' %}{{ listing.image }}"/>
                {% else %}
                    <img class="card-img" style="width: 150px; height: 150px;" id="listing.image" src="https://via.placeholder.com/150"/>
                {% endif %}
            </div>
        </div>

        <div class="card-body row pb-0">
            <div class="col-md-12">
                <div class="card-text pb-2" id="listing.description">{{ listing.description }}</div>
                <div class="card-text pb-2" id="listing.description">{% lorem 1 p random %}</div>
                <div class="card-text pb-2 font-weight-bold" id="category.title">
                    <i class="fa-solid fa-tags"></i>
                        Category: 
                        {% for category in listing.categories.all %}
                            <a class="" href="{% url 'view_categories' category.id %}">{{ category.title }}</a> 
                        {% endfor %}
                </div>
                <div class="card-text small text-hide pb-2" id="listing.date_created">Created: {{ listing.date_created }}</div>
                <div class="card-text font-weight-bold" id="listing.current_price">£{{ listing.current_price|stringformat:"1.2f" }}</div>
            </div>
        </div>

        {% if user.is_authenticated %}
            {% if listing.active %}
                <div class="card-body row">
                    
                    <div class="col-md-12">
                        {% if listing.bid_count %}
                            <div class="card-text small pb-2" id="listing.bid_count">{{ listing.bid_count }} bid(s) so far.<br>
                                {% if listing.winning_user == user.id %}
                                    Your are the current highest bidder.
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="card-text pb-2" id="listing.bid_count">No bids so far.</div>
                        {% endif %}

                        <form action="{% url 'place_bid' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" name="bid_amount" placeholder="Amount of Bid">
                                <input class="form-control" type="hidden" name="listing_id" value="{{ listing.id }}">
                                <input class="form-control" type="hidden" name="user_id" value="{{ user.id }}">
                            </div>
                            <input class="btn btn-primary" type="submit" value="Bid">
                        </form>
                    </div>
                </div>
                
                <div class="card-body row">
                    <div class="col-md-12">
                        <h4 class="card-text">Details</h4>
                        <ul class="">
                            <li class="" id="listing.user.username"">Listed by: {{ listing.user.username }}</li>
                            {% for category in listing.categories.all %}
                                <li class="" id="category.title"">
                                    Category: <a class="" href="{% url 'view_categories' category.id %}">{{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
                
            <div class="card-body row">
                <div class="col-md-12">
                    <h4 class="card-title">Add Comment</h4>
                    <form action="{% url 'add_comment' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" name="comment_text" rows="2"></textarea>
                            <input class="form-control" type="hidden" name="listing_id" value="{{ listing.id }}">
                            <input class="form-control" type="hidden" name="user_id" value="{{ user.id }}">
                        </div>
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </form>
                </div>
            </div>

        {% endif %}

        <div class="card-body row pb-0">
            <div class="col-md-12">
                <h4 class="card-title">Comments</h4>
            </div>
        </div>
        
        {% for comment in listing.comments %}
            <div class="card-body row py-2">
                <div class="col-md-12 border">
                    <p class="card-text pt-2 px-4" id="comment.text"" disabled>{{ comment.text }}</p>
                    <div class="card-footer pt-0">
                        <small class="text-muted" id="comment.comment_date"">Posted on: {{ comment.comment_date }}</small>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="card-body row py-2">
                <div class="col-md-12">
                    <p class="card-text border px-4" id="comment.comment"" disabled>No Comments</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
