{% block navbar_top_active_listings %}
    {% if user.is_authenticated %}
        <ul id="navbar_top_active_listings" class="nav">
            <li class="nav-item pb-2 pr-2">
                <a class="nav-link btn btn-primary btn-sm" href="{% url 'view_categories' %}">All Categories</a>
            </li>
            <li class="nav-item pb-2 pr-2">
                <a class="nav-link btn btn-primary btn-sm" href="{% url 'view_categories' %}">Add Categories</a>
            </li>
            <li class="nav-item pb-2 pr-2">
                <a class="nav-link btn btn-primary btn-sm" href="{% url 'view_categories' %}">??</a>
            </li>
            <li class="nav-item pb-2 pr-2">
                <a class="nav-link btn btn-primary btn-sm" href="{% url 'view_categories' %}">??</a>
            </li>
        </ul>
        <hr>
    {% endif %}
{% endblock navbar_top_active_listings %}
